.lb-table td,
.lb-table th {
  vertical-align: middle !important;
}

.lb-table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.lb-table tfoot button + button {
  margin-left: 8px !important;
}

.lb-weight-input {
  max-width: 70px;
}

.lb-weight-input::-webkit-outer-spin-button,
.lb-weight-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.lb-weight-input + span {
  margin-left: 4px;
}

.lb-barrabes-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.barrabes-sections {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.lb-barrabes-subitems {
  margin-left: 1rem;
  margin-top: .5rem;
}

@media (max-width: 500px ) {
  .barrabes-sections {
    flex-direction: column;
  }
}